.r-page {
	background-color: color(highlight-light);
	padding: 4rem 0;
	background-image: $bg-pattern;
}

.r-page-left {
	position: fixed;
	overflow-y: auto;
	width: 300px;

	.page-left__container {
		padding-right: $margin-base * 3;
	}
}

.r-page-right {
	width: calc(100% - 300px);
	margin-left: 300px;
}