lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.ps1
*.gz
*.yo-rc.json

pids
logs
results

npm-debug.log
node_modules
.sass-cache
.idea
_output
_dist
styles.tmp.scss
resources/bower-components
/resources/templating/exported/exported-data.json
/resources/templating/exported/watcher-data.json
/resources/templating/exported/watcher-layouts.json
/resources/templating/exported/watcher-pages.json
/resources/templating/exported/watcher-partials.json
