[submodule "resources/js/veams-js"]
	path = resources/js/veams-js
	url = git@github.com:Sebastian-Fitzner/veams-js.git
	branch = dev
[submodule "resources/js/vendor/veams-query"]
	path = resources/js/vendor/veams-query
	url = git@github.com:Veams/veams-query.git
	branch = dev
[submodule "resources/templating/mixed/components/accordion"]
	path = resources/templating/mixed/components/accordion
	url = git@github.com:Veams/veams-component-accordion.git
	branch = dev
[submodule "resources/templating/mixed/utilities/grid"]
	path = resources/templating/mixed/utilities/grid
	url = git@github.com:Veams/veams-utility-grid.git
	branch = dev
[submodule "resources/templating/mixed/components/article"]
	path = resources/templating/mixed/components/article
	url = git@github.com:Veams/veams-component-article.git
	branch = dev
[submodule "resources/templating/mixed/components/form"]
	path = resources/templating/mixed/components/form
	url = git@github.com:Veams/veams-component-form.git
	branch = dev
[submodule "resources/templating/mixed/components/picture"]
	path = resources/templating/mixed/components/picture
	url = git@github.com:Veams/veams-component-picture.git
	branch = dev
[submodule "resources/templating/mixed/components/badge"]
	path = resources/templating/mixed/components/badge
	url = git@github.com:Veams/veams-component-badge.git
	branch = dev
[submodule "resources/templating/mixed/components/video"]
	path = resources/templating/mixed/components/video
	url = git@github.com:Veams/veams-component-video.git
	branch = dev
[submodule "resources/templating/mixed/components/table"]
	path = resources/templating/mixed/components/table
	url = git@github.com:Veams/veams-component-table.git
	branch = dev
[submodule "resources/templating/mixed/components/slider"]
	path = resources/templating/mixed/components/slider
	url = git@github.com:Veams/veams-component-slider.git
    branch = dev
[submodule "resources/templating/mixed/components/cta"]
	path = resources/templating/mixed/components/cta
	url = git@github.com:Veams/veams-component-cta.git
    branch = dev
[submodule "resources/templating/mixed/components/rte"]
	path = resources/templating/mixed/components/rte
	url = git@github.com:Veams/veams-component-rte.git
    branch = dev
[submodule "resources/templating/mixed/components/figure"]
	path = resources/templating/mixed/components/figure
	url = git@github.com:Veams/veams-component-figure.git
    branch = dev
[submodule "resources/templating/mixed/components/quote"]
	path = resources/templating/mixed/components/quote
	url = git@github.com:Veams/veams-component-quote.git
	branch = dev
[submodule "resources/templating/mixed/utilities/storage"]
	path = resources/templating/mixed/utilities/storage
	url = git@github.com:Veams/veams-utility-storage.git
	branch = dev
[submodule "resources/templating/mixed/components/slide-fox"]
	path = resources/templating/mixed/components/slide-fox
	url = git@github.com:Veams/veams-component-slide-fox
	branch = dev
[submodule "resources/templating/mixed/components/pagination"]
	path = resources/templating/mixed/components/pagination
	url = git@github.com:Veams/veams-component-pagination.git
	branch = dev
[submodule "resources/templating/mixed/utilities/type-ahead"]
	path = resources/templating/mixed/utilities/type-ahead
	url = git@github.com:Veams/veams-utility-type-ahead
	branch = dev
[submodule "resources/templating/mixed/components/overlay"]
	path = resources/templating/mixed/components/overlay
	url = git@github.com:Veams/veams-component-overlay.git
	branch = dev
[submodule "resources/templating/mixed/components/toggler"]
	path = resources/templating/mixed/components/toggler
	url = https://github.com/Veams/veams-component-toggler.git
	branch = dev
