/* ===================================================
Docs
=================================================== */

.docs {
	.is-large-tf {
		font-size: 2.8rem;
		font-weight: $font-bold;
	}

	.docs__demo-section-item {
		@include float();

		position: relative;
	}

	.docs__demo-section-headline {
		clear: both;
		font-size: 2.4rem;
		font-weight: 700;
		z-index: 1;
		min-width: 150px;
		opacity: 1;
		background-color: transparent;
		color: color(highlight-light);
		transition: opacity $transition-duration $transition-ease-method;
		text-align: center;
		margin-bottom: $margin-base*2;

		&.is-bg-light {
			font-size: 2rem;
			color: color(highlight-dark);
			display: inline-block;
		}
	}

	.docs__demo-section-description-wrapper {
		display: table;
		max-width: 600px;
		margin: 0 auto 3rem;
	}

	.docs__demo-section-description {
		font-size: 1.8rem;
		text-align: left;
		display: table-cell;
		vertical-align: middle;
		padding-left: $margin-base;
	}

	.docs__demo-variation-headline {
		font-size: 2rem;
		text-align: center;
	}


	.docs__demo-section-info {
		display: table-cell;
		vertical-align: middle;
	}

	.docs__demo-section-icon {
		@include sprites-veams-info;

		display: block;
		vertical-align: middle;
	}

	.docs__code-item {
		position: relative;

		pre {
			font-size: 1.6rem;
		}
	}

	.docs__hr {
		margin-top: $margin-base * 8;
		margin-bottom: $margin-base * 8;
	}
}